
@{
    ViewBag.Title = "SobreNos";
}

<h1 style="text-align:center; margin-top:50px; margin-bottom: 50px;">Sobre Nós</h1>

<h4> A clínica CI foi criado em 2016, em um projeto do grupo de estudos do centro de inovação. O objetivo do projeto foi desenvolver um site com ASP.NET MVC, implementando regras de negócios de uma clínica.</h4>

<h2 style="text-align:center; margin-top:100px; margin-bottom: 50px;">Membros do Projeto</h2>

<div class="col-lg-12 row" >
    <div class="col-lg-6" style="border-style: solid">
    <div class="col-lg-4">
        <a href="https://br.linkedin.com/in/cristiansantosferreira"><img src="../foto/cristian.jpg" width="150" height="150" style="margin-left:-30px" /></a>
    </div>
    <div class="col-lg-8" style="margin-left:-30px; margin-top: 3px;">
        <p>Nome: Cristian Ferreira</p>
        <p>Email: cristianferreira_gks@hotmail.com</p>
        <p>Formação acadêmica: Faculdade Dom Bosco de Porto Alegre</p>
        <p>Sistema de Informação - 2014-2018</p>
       
    </div>
        </div>
    <div class="col-lg-6" style="border-style: solid">
        <div class="col-lg-4">
            <a href="https://www.linkedin.com/in/joaoberte"><img src="../foto/joao.jpg" width="150" height="150" style="margin-left:-30px"  /></a>
        </div>
        <div class="col-lg-8" style="margin-left:-30px; margin-top: 3px;" >
            <p>Nome: João Berté</p>
            <p>Email: joao.berte@acad.pucrs.br</p>
            <p>Formação acadêmica: Pontifícia Universidade Católica do Rio Grande do Sul</p>
            <p>Ciência da Computação - 2014-2018</p>

        </div>
    </div>
</div>
