
@{
    ViewBag.Title = "InformacoesEmpresa";
}

<h2>InformacoesEmpresa</h2>

<p>
    A Clínica São José foi fundada em 1º de julho de 1934, pelo Dr. Jacintho Godoy, médico psiquiatra, e pelo empresário Álvaro Barcellos e tornou-se uma referência em atendimento psiquiátrico, na Região Sul do Brasil. 
</p>
<p>
    Nos 80.000 m² de área verde local, o Dr. Jacintho Godoy idealizou e organizou um serviço, que dispõe de instalações apropriadas para ambos os sexos, bem como de Unidades de Cuidados Especiais para os casos agudos. Aos pacientes internados naquela época, já estavam disponíveis os avanços científicos que incluíam o apoio terapêutico relacionado às atividades ocupacionais, laborativas e de lazer. E, para a viabilidade funcional da Clínica, havia a participação das religiosas da Congregação de São José, que eram responsáveis pelos serviços de enfermagem e serviços gerais e também proviam os pacientes internados do necessário amparo à espiritualidade. Compõe-se a Clínica de unidades de internação, adequadas ao grau de necessidade do paciente, tais como: Unidades de Cuidados Especiais, Unidades de Dependência Química. 
</p>
<p>
    Com o objetivo de facilitar a recuperação e de possibilitar maior conforto aos pacientes, a Clínica, oferece além de ampla área verde, capela, academia de ginástica, ambiente para a realização de Terapia Ocupacional e quadra de esportes coberta e com grama sintética.
    A estrutura hospitalar oferece Pronto Psiquiátrica no horário das 7h às 23h, com plantão médico psiquiátrico permanente e consultas ambulatoriais.
</p>
